body {
	background-color: black;
	font-family: 'Merriweather', serif;
}

footer {
	background-color: orange;
	margin-bottom: 0;
	padding: 25px;
	font: 30px Bold;
	font-family: 'Baloo Chettan', cursive;

}

.container {
	background-color: turquoise;
}

.title {
	font: 35px Bold;
	font-family: 'Germania One', cursive;
}